*{
    margin: 0;
    padding: 0;
}
.Header {
    display: block;
    background-image: linear-gradient(to top, #b1b1b1, #535353);
    border: solid;
    border-width: 3px;
    border-color: black;
    
}
.Header>h2{
    color: white;
}


.Header>h1{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-style: bold;
    font-size: 3rem;
    background-image: linear-gradient(to top, #c20404, #830000, #d50909);
    background-clip: text;
    color: transparent;
    transition: transform 0.4s ease, filter 0.4s ease;
}
.Header>h1:hover{
    transition: transform 0.4s ease;
    transform: scale(1.05);
    cursor: pointer;
    filter: contrast(1.05) brightness(1.1);
    background-image: linear-gradient(to top, #6b0202, #830000, #ff0606);
}
h2{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin: 30px ;
}


.shopdev {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 2rem;
}

.shopdev ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
}

.shopdev h3 {
    text-align: center;
}

.shopdev li {
    text-align: center;
    margin:15px;
    color: rgb(253, 253, 253);
}
.shop{
    padding-top: 15px;
    background-image: linear-gradient(#343434, #525252, #525252, #343434);
    border: solid;
    border-top: none;
    border-width: 3px;
    border-color: black;
    padding: 10px;
}
.shop>h2{
    color: white;
    margin-top: 10px;
}
.shopdev>ul>h3{
    background-image: linear-gradient(to top, #2e0083, #0800e8, #041fa5);
    background-clip: text;
    color: transparent;
}
.footer>h3{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, #490000, #e80c00, #a50419);
    background-clip: text;
    color: transparent;
    
}
.footer{
    padding-bottom: 90px;
    font-size: 3rem;
    background-color: #19191C;
    color: white;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    border: solid;
    border-top: none;
    border-width: 3px;
    border-color: black;
}

a {
    display: inline-block;
    background-image: linear-gradient(to top, #2a2aef, #0808d0);
    border-radius: 10px;
    color: #EFEFF2;
    padding: 12px 37px;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    margin-top: 20px;
    transition: transform 0.4s ease, filter 0.4s ease;
}
a:hover{
    transition: transform 0.4s ease;
    transform: scale(1.1);
    background-image: linear-gradient(to top, #0101c5, #3333d1);

}.art>h2{
    background-image: linear-gradient(to top, #490000, #e80c00, #a50419);
    background-clip: text;
    color: transparent;
}

@media (max-width: 800px) {
    .shopdev {
        font-size: 0.9rem;
    }

    .shopdev ul li, .shopdev ul h3 {
        font-size: 1.1rem; 
    }

    .shopdev ul {
        width: 100%;
        padding: 0; 
    }


    img {
        max-width: 150px; 
    }

    h2, h3 {
        font-size: 1.4rem; 
    }

    .footer {
        font-size: 1.5rem; 
    }

    a {
        font-size: 14px;
        padding: 8px 20px;
    }
}
* {box-sizing:border-box}

.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

.mySlides img {
  display: block;
  margin: 0 auto;
  max-width: 70%;
  height: auto;
  border: solid,2px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 5px;}
.next {
  right: 0;
  border-radius: 5px;}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);}
.text {
  color: #ebebeb;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  left: 5px;
  text-align: center;
  font-style: bold;
  bottom: 3px;}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;}
.active {
  background-color: #610707;}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}}
.textl{
    color: #2a2a2a;
    font-size: 23px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-style: bold;
    left: 5px;
    bottom: 3px;
}

@media only screen and (max-width: 768px) {
  .slideshow-container {
    max-width: 100%;
    padding: 0 20px;
  }
  .prev {
    left: 35px;
  }
  
  .next {
    right: 35px;
  }
  .text, .textl {
    font-size: 18px;
  }
  .numbertext {
    font-size: 10px;
  }
}
.dot:hover {
    background-color: #a70202;}
